@{
    ViewData["Title"] = "Home Page";
}

<div class="center-box">
    @* Este un button de test (url-ul este cel bun)*@
    <div class="login-window">
    <p>Please choose a login option</p>
    
    <a class="btn btn-primary" href="https://localhost:7186/User/login?redirectUrl=https://localhost:7109/Home/Privacy">AuthServer</a>
        <a class="btn btn-primary" href="">Gmail</a>
        <a class="btn btn-primary" href="">Facebook</a>
    </div>
</div>

