@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<button type="button" id="loginButton" class="btn btn-primary">Autentificare cu AuthServer</button>


@section scripts{
    <script src="/js/login.js"></script>
}