@*@{
    ViewData["Title"] = "Privacy Policy";
}*@
<h1>@ViewData["Title"]</h1>

<div class="center-box">
    <h1>Welcome back, user!</h1>
    <img class="spinning-jwt" src="~/jwt_logo.png" alt="jwt_logo">
</div>
