@model string
<form method="post" action="login">
	<label for="username">Username</label>
	<input name="username" type="text" />
	<label for="password">Password</label>
	<input name="password" type="password" />
	<input name="redirectUrl" type="hidden" value="@Model" />
	<input type="submit" value="Submit" />
</form>
